<section class="container">

  <form #fc=ngForm (ngSubmit)="onsubmit(fc)">
    <div class="form-group">
      <label for="">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome" required placeholder="Seu nome">
      <small class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="">Endereço de email</label>
      <input type="email" class="form-control" [(ngModel)]="usuario.email" aria-describedby="emailHelp" name="email" placeholder="Seu email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel">
      <span class="help-block text-danger" *ngIf="email.errors?.required && email.touched">
        Campo Obrigatório
      </span>
      <span class="help-block text-danger" *ngIf="email.errors?.pattern && email.touched">
        Email Invalido
      </span>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" [(ngModel)]="usuario.pws" placeholder="Senha" name="pws" required minlength="6" #pws="ngModel">
      <small class="form-text text-danger" *ngIf="pws.invalid && pws.dirty">Senha muito Curta</small>
    </div>

    <div class="form-group">
      <label for=""></label>
      <input type="password" class="form-control" (ngModel)="conf" placeholder="Confirmar Senha" name="conf" required #conf="ngModel">
      <small class="form-text text-danger" *ngIf="pws.value != conf.value && conf.dirty">Senhas Diferentes</small>
    </div>
    <div class="form text-right">
      <button type="submit" class="btn btn-primary ml-2" [disabled]="fc.invalid || pws.value != conf.value ">Salvar</button>
      <button type="reset" class="btn btn-primary ml-2">Cancelar</button>
    </div>
  </form>
</section>
<app-list-usuario></app-list-usuario>