<section class="container">
    
    
    <!--<table class="table" *ngIf="eventos | async as users">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tema</th>
            <th>Data</th>
            <th>Horario</th>

        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.tema}}</td>
            <td>{{user.data}}</td>
            <td>{{user.horario}}</td>
        </tr>    
    </table>-->

    <div class="card" style="width: 18rem;" *ngIf="eventos | async as users">
        <div class="card-body" *ngFor="let user of users">

          <h5 class="card-title">Nome</h5>
          <p class="card-text">Tema</p>
          <p class="card-text">Data</p>
          <p class="card-text">Horario</p>
          <a href="ID" class="btn btn-primary">ID</a>

          <h5 class="card-title">{{user.nome}}</h5>
          <p class="card-text">{{user.tema}}</p>
          <p class="card-text">{{user.data}}</p>
          <p class="card-text">{{user.horario}}</p>
          <a href="{{user.id}}" class="btn btn-primary">{{user.id}}</a>
          
          
          
          
        </div>
      </div>

</section>

