<section class="container">
    
    
    <!--<table class="table" *ngIf="eventos | async as users">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tema</th>
            <th>Data</th>
            <th>Horario</th>

        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.tema}}</td>
            <td>{{user.data}}</td>
            <td>{{user.horario}}</td>
        </tr>    
    </table>-->

    <div class="" *ngIf="eventos | async as users">
        <div class="row">
            <div class="card col-12 col-md-4 m-1" *ngFor="let user of users">
                <div class="card-body">
                    <h2 class="card-title">{{user.nome}}</h2>
                    <p class="card-text">{{user.tema}}</p>
                    <p class="text-danger font-weight-bold">{{user.data | date:"dd/MM/yyyy"}}</p>
                    <p class="text-danger font-weight-bold">{{user.horario}}</p>
                    <a href="{{user.id}}" class="btn btn-primary">Saiba Mais...</a>
                </div>
            </div>
         </div>
    </div>
</section>

